body{
  font-family: 'Helvetica Neue';
}

.form_pos{
  padding-left: 650px;
}

.card_pos{
  padding-top: 70px;
  padding-left: 20px;
  width: 5rem;
  display: block;
}

.card_h{
  cursor: pointer;
  text-align: center;
  display: block;
  top: 0px;
  position: relative;
  width: 300px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 20px 20px;
  margin: 5px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card_h:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card_h:hover{
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
  opacity: 1;
}

.card_h:hover:before {
  transform: scale(2.15);
}

.title_style{
  font-size: 15px;
}

