body{
  font-family: "Titillium Web", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
} 

.margin_sign{
  margin-top: 150px;
  margin-left: 450px;
  margin-right: 50px;
}

.title{
  font-family: "Titillium Web", sans-serif;
	color:black;	
  font-size: 30px;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.input-style{
  position: relative;
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
}

.input-container label{
  font-size: 50px;
  position:absolute;
  pointer-events:none;
  transition: all 0.5s ease-in-out;
}

.input-style input{
  height: 40px;
  width: 400px;
  background-color: #E3E7E9;
  font-size: 15px;
  padding: 4px 20px 0;
  border:0;
  border-bottom:1px solid #555;  
  padding-left: 10px;
  font-size:15px;
  color:black;
}

.pad{
  padding-bottom: 20px;
}

.input-style button{
  font-size: 16px;
  height: 40px;
  width: 400px;
  background-color: rgba(34, 31, 76, 255);
  color: white;
}

.two-inputs{
  position:relative;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}

.two-inputs input{
  height: 40px;
  width: 192px;
  background-color: #E3E7E9;
  font-size: 15px;
  padding: 4px 20px 0;
  border:0;
  border-bottom:1px solid #555;  
  padding-left: 10px;
  font-size:15px;
  color:black;
}

.two-inputs select{
  height: 40px;
  width: 192px;
  background-color: #E3E7E9;
  font-size: 15px;
  padding: 4px 20px 0;
  border:0;
  border-bottom:1px solid #555;  
  padding-left: 10px;
  font-size:15px;
  color:black;
}

.select{
  font-size: 15px;
  position: relative;
  font-family: "Titillium Web", sans-serif;
}

.select input{
   display: inline-block;
   width: 30px;
   height: 30px;
   margin-top: -1px;
   vertical-align: middle;
}